body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    background-size: 100%;
    background-image: url(images.jfif)
    
}


header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 20px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;    
    margin-bottom: 20px;
    
}

nav li {
    margin-right: 20px;
    display: inline-block;
    background-color: lightsalmon;
  
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;


}

#home {
    background-image: url('images (1).jfif');
    background-size: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 8px;
    display: grid;

  

}

#about {
    padding: 2em;
}

#about img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    
}

#products {
    padding: 2em;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    background-color: #fff;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;

}

#contact {
    padding: 2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    padding: 1em;
}

footer {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}